.main-heading {
    margin-top: 40px;
}

.banner-image .img-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.banner-image .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

.team-wrapper .member-card {
    width: 32%;
    height: 450px;
}

.team-wrapper .img-wrapper {
    height: 400px;
    overflow: hidden;
}

.team-wrapper .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-card .member-name {
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}